<div style="text-align: center;">
	<% @intro_text.each do |text| %>
    <p><%= text %><p>
  <% end %>
  <% @match_selection_prompt.each do |text| %>
    <p><%= text %></p>
  <% end %>
  <table align="center">
  <% @match_types.each do |match| %>
    <tr align="left">
      <td><input type="radio" name="match_types" value="1" checked="checked">
        <%= match["player1_type"] %> Vs <%= match["player2_type"] %></td>
    </tr>
  <% end %>
  </table>
</div>
