body {
  margin: auto;
  width: 50%;
  font-family: Helvetica, Arial, serif;
  font-size: 16px;
  text-align: "center";
}

table {
  border-spacing: 5px;
}

.match_types {
  margin: auto;
  text-align: "center";
}

.board {
  border: 1px solid black;
  padding: 20px;
}

.board {
  cursor: pointer;
}

#language_config_text {
  font-style: italic;
}

#exception_content {
  color: red;
}

.warning {
  color: red;
}
