body {
  margin: auto;
  width: 50%;
  font-family: Helvetica, Arial, serif;
  font-size: 16px;
  text-align: "center";
}

table {
  border-spacing: 5px;
}

#board {
  border: 1px solid black;
  padding: 20px;
}

#language_config_text {
  font-style: italic;
}