body {
  margin: auto;
  width: 50%;
  font-family: Helvetica, Arial, serif;
  font-size: 16px;
  text-align: "center";
}

table {
  border-spacing: 5px;
}

.board-cell:hover {
  background-color: #ffff99;
}

.match_types {
  margin: auto;
  text-align: "center";
}

.board {
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
}

.language_config_text {
  font-style: italic;
}

.warning {
  color: red;
}

.exception_content {
  color: red;
}

.btn-primary {
    background-color: #E96C19 !important;
    border-color: #8064A2 !important;
}

.btn-primary:hover {
    background-color: #800000 !important;
    border-color: #800000 !important;
    color: #ffffff;
}